script(src="/js/jquery-2.1.1.js")
script(src="/js/pace.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/navigation.min.js")
script(src="/js/classie.js")
script(src="/js/cbpAnimatedHeader.js")
script(src="/js/wow.min.js")
script(src="/js/jquery.expander.min.js")
script(src="https://cdn.slaask.com/chat.js")
script(src="/js/cookies.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js")
script(src="/js/custom.js")
script(src="/js/amplitude.js")
  script(type='text/javascript').
    (function() {
      amplitude.logEvent('EVENT_IDENTIFIER_HERE');
    })();
