script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
<!-- Latest compiled and minified JavaScript -->
script(src="/js/plugins.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js")
script(src="https://cdn.jsdelivr.net/jquery.drawsvg/1.1.0/jquery.drawsvg.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js")
script(src="/js/custom.js")
script(src="/js/custom.js")
script(src="/js/amplitude.js")
script(src="/js/cookies.js")
script(src="https://cdn.slaask.com/chat.js")
script(type='text/javascript').
  (function() {
    amplitude.logEvent('EVENT_IDENTIFIER_HERE');
  })();
script(type='text/javascript').
  /* <![CDATA[ */
  var google_conversion_id = 1018229817;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
noscript
  div(style='display:inline;')
    img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/1018229817/?guid=ON&script=0')
