#main-featured
  .container
    .row
      .svg-earth-pattern
          img.animate-earth-small(src='img/slider-earth-pattern-small.png')
          img.animate-earth-large(src='img/slider-earth-pattern-large.png')
      .col-md-12
        .text-left
          block header
            h1 Latest Posts