section.clients.text-center
  .container
    .row
      .col-lg-12
        h1.extra-bold Trusted Brands
        h4 WebriQ is serving hundreds of companies across four Continents
        br
        br
    .row
      .col-md-12
        img.img-responsive(src="img/brand_logos/brands_afs.png", alt='')
        img.img-responsive(src='img/brand_logos/brands_esportskingdom.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_guimelligroups.png', alt='')
        img.img-responsive(src="img/brand_logos/brands_buzzin.png", alt='')
        img.img-responsive(src='img/brand_logos/brands_advance_beauty.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_ezishuttle.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_blindswholesale.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_pacific_shades.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_sandwichqueen.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_seasurveys.png', alt='')
        img.img-responsive(src='img/brand_logos/brands_anzac.png', alt='')
