#featured.featured-header.text-center
	.container
		.row
			h1.wow.fadeInDown.animated
				| Web Content Management System
			h3.wow.fadeIn.animated
				| for Static Pages and Shops 
			p.wow.fadeInUp.animated
				a.btn.btn-lg.btn-primary.btn-rounded.create-btn(href='http://app.webriq.com/sites/create', role='button') Create Free Account
				a.btn.btn-lg.btn-primary.btn-rounded.demo-btn(href='http://app.webriq.com/help/page/demo/howto', role='button') Demo
