#featured.featured-header.text-center
	.container
		.row
			h1.wow.fadeInDown.animated
				| Static is the new Dynamic!
			h3.wow.fadeIn.animated
				| Pages and Shops on a powerful <br> Cloud Platform.
			p.wow.fadeInUp.animated
				a.btn.btn-lg.btn-primary.btn-rounded(href='//app.webriq.com/sites/create', role='button') Create Free Account
