#featured.featured-header.text-center
	.container
		.row
			.col-sm-12.col-md-7.text-center
				h1.wow.fadeInDown Modern Front-End Developers Tools
				h4.wow.fadeIn for Content Editors and Developers
			.col-md-12.text-center.space-15
				<br>
				p.wow.fadeInUp
					a.btn.btn-lg.btn-primary.btn-rounded.create-btn(href='http://app.webriq.com/auth/register', role='button') Free Account
					.nav-line-white
						span.text-or or
					a.btn.btn-lg.btn-primary.btn-rounded.btn-inverted.demo-btn(href='http://app.webriq.com/help/page/demo/howto', role='button') Demo
			//- h1.wow.fadeInDown
			//- 	| Modern Front-end Developers Tools
			//- h3.wow.fadeIn
			//- 	| for Content Editors And Developers
			//- p.wow.fadeInUp
			//- 	a.btn.btn-lg.btn-primary.btn-rounded.create-btn(href='http://app.webriq.com/sites/create', role='button') Free Account
			//- 	a.btn.btn-lg.btn-primary.btn-rounded.demo-btn(href='http://app.webriq.com/help/page/demo/howto', role='button') Demo
			.col-md-12.text-center.m-t-md
				.lang
					img#react(src='img/reacticon.png')
					img#css3(src='img/css3icon.png')
					img#html5(src='img/html5icon.png')
					img#js(src='img/jsicon.png')
					img#pug(src='img/pugicon.png')
					img#git(src='img/giticon.png')
					img#github(src='img/githubicon.png')
					img#netlify(src='img/netlifyicon.png')

