section#free-account.free-account.section.gray-section
  .container
    .row.border-inverted.create-account
      .svg-earth-pattern
        img.animate-earth-small(src='img/slider-earth-pattern-small.png')
        img.animate-earth-large(src='img/slider-earth-pattern-large.png')
      .col-sm-12.col-md-8.text-center.space-auto
        h1.heading-1.thin-text.white Modern Technology Stack
        h3.heading-3.light-text.white for developers and content editors
      .col-md-12.text-center.space-15
        <br>
        .slider-buttons
          //- a#free_account_link.hvr-ripple-out(href='#')
          //-   svg#free_account.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='260px', height='50px', viewbox='0 0 260 50', enable-background='new 0 0 260 50', xml:space='preserve')
          //-     path(fill='none', stroke='#039be5', stroke-width='2', stroke-miterlimit='10', d='M235,2.001c12.703,0,23,10.297,23,22.999')
          //-     path(fill='none', stroke='#039be5', stroke-width='2', stroke-miterlimit='10', d='M100.52,48H25C12.298,48,2,37.703,2,25l0,0')
          //-     path(fill='none', stroke='#039be5', stroke-width='2', stroke-miterlimit='10', d='M258,25c0,12.703-10.297,23-23,23H100.52')
          //-     path(fill='none', stroke='#039be5', stroke-width='2', stroke-miterlimit='10', d='M2,25C2,12.298,12.298,2.001,25,2.001h210')
          //-   span.free_account_text.slider_buttons.drawsvg.hided Free Account
          //- .slider-separator
          //-   svg#svg_separator.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='260px', height='31.5px', viewbox='0 0 260 31.5', enable-background='new 0 0 260 31.5', xml:space='preserve')
          //-     g
          //-       path(fill='#FFFFFF', stroke='#FFFFFF', stroke-width='0.25', stroke-miterlimit='10', d='M129.659,12.426\
          //-       c0.82,0,1.455,0.247,1.904,0.742s0.673,1.177,0.673,2.047c0,0.898-0.162,1.737-0.488,2.519c-0.326,0.781-0.771,1.377-1.336,1.787\
          //-       s-1.217,0.615-1.955,0.615c-0.838,0-1.476-0.249-1.911-0.748s-0.653-1.213-0.653-2.143c0-0.871,0.167-1.686,0.499-2.447\
          //-       s0.782-1.347,1.347-1.757S128.943,12.426,129.659,12.426z M129.604,13.014c-0.565,0-1.073,0.179-1.524,0.537\
          //-       s-0.811,0.871-1.08,1.538s-0.403,1.375-0.403,2.123c0,1.558,0.643,2.337,1.928,2.337c0.579,0,1.093-0.176,1.542-0.529\
          //-       s0.807-0.873,1.073-1.559c0.267-0.686,0.399-1.439,0.399-2.259c0-0.702-0.166-1.242-0.498-1.62\
          //-       C130.707,13.203,130.229,13.014,129.604,13.014z')
          //-       path(fill='#FFFFFF', stroke='#FFFFFF', stroke-width='0.25', stroke-miterlimit='10', d='M137.779,12.44\
          //-       c0.314,0,0.595,0.032,0.841,0.096l-0.144,0.636c-0.214-0.068-0.472-0.103-0.772-0.103c-0.429,0-0.836,0.146-1.224,0.438\
          //-       s-0.736,0.729-1.046,1.313s-0.538,1.214-0.684,1.894L134.067,20h-0.67l1.579-7.43h0.547l-0.198,1.395h0.041\
          //-       c0.333-0.428,0.613-0.737,0.841-0.926s0.471-0.336,0.728-0.441C137.192,12.492,137.474,12.44,137.779,12.44z')
          //-     g(fill='none', stroke-miterlimit='10')
          //-       path(stroke='#039BE5', d='M110.667,17H0')
          //-       path(stroke='#81D4FA', d='M149,17h110.667')
          //-   img.svg_separators.hided(src='img/button_separator.png', data-svg='svg_separator')
          a#free_acct_link.hvr-ripple-out.slider_buttons.white(href='#') Free Account
            //- span.demo_account_text.drawsvg.slider_buttons.white.hided Free Account
        // .slider-buttons
        .lang.m-t-xl
              //- svg#svg_horizontal_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='1400px', height='20px', viewbox='0 0 1400 20', enable-background='new 0 0 1400 20', xml:space='preserve')
              //-   path(fill='none', stroke='#2F89F4', stroke-width='2', stroke-miterlimit='10', d='M0,10h1400')
              a.hvr-float-shadow(href='#')
                img#react(src='img/reacticon.png')
              a.hvr-float-shadow(href='#')
                img#css3(src='img/css3icon.png')
              a.hvr-float-shadow(href='#')
                img#html5(src='img/html5icon.png')
              a.hvr-float-shadow(href='#')
                img#js(src='img/jsicon.png')
              a.hvr-float-shadow(href='#')
                img#pug(src='img/pugicon.png')
              a.hvr-float-shadow(href='#')
                img#git(src='img/giticon.png')
              a.hvr-float-shadow(href='#')
                img#github(src='img/githubicon.png')
              a.hvr-float-shadow(href='#')
                img#netlify(src='img/netlifyicon.png')
      //- .col-md-12.text-center.space-15
      //-   p Have any question?
      //-   br
      //-   p.contact-info Email: <a href="mailt:info@webriq.com">info@webriq.com</a>  +1 203 285 6929 / +44 208 144 9347 (UK) <br>80 Robinsons Road #02-00 Singapore 068898