section#free-account.free-account.section.gray-section
	.container
		.row.border-inverted.create-account
			.svg-earth-pattern
				img.animate-earth-small(src='img/slider-earth-pattern-small.png')
				img.animate-earth-large(src='img/slider-earth-pattern-large.png')
			.col-sm-12.col-md-8.text-center.space-auto
				h1.heading-1.thin-text.white Modern Technology Stack
				h3.heading-3.light-text.white for developers and content editors
			.col-md-12.text-center.space-15
				<br>
				.slider-buttons

					a#free_acct_link.hvr-ripple-out.slider_buttons.white(href='https://app.webriq.com/sites/create' target="_blank") Free Account

				.lang.m-t-xl
					a.hvr-float-shadow(href='#')
						img#react(src='img/reacticon.png')
					a.hvr-float-shadow(href='#')
						img#css3(src='img/css3icon.png')
					a.hvr-float-shadow(href='#')
						img#html5(src='img/html5icon.png')
					a.hvr-float-shadow(href='#')
						img#js(src='img/jsicon.png')
					a.hvr-float-shadow(href='#')
						img#pug(src='img/pugicon.png')
					a.hvr-float-shadow(href='#')
						img#git(src='img/giticon.png')
					a.hvr-float-shadow(href='#')
						img#github(src='img/githubicon.png')
					a.hvr-float-shadow(href='#')
						img#netlify(src='img/netlifyicon.png')
