section#contact.gray-section.contact
  .container
    .row.m-b-lg.border-inverted.create-account
      .col-md-7
        .navy-line
        h1 Static is the new Dynamic!
        h3
          | Pages and Shops on a powerful Cloud Platform.
      .col-md-5.text-center
        .navy-line.hidden-xs.hidden-sm
        .navy-line.hidden-xs.hidden-sm
        .navy-line
        a.btn.btn-lg.btn-primary.btn-rounded.btn-inverted(href='//app.webriq.com/auth/register', role='button') Create Free Account
    .row.border-inverted.links
      .col-sm-12.col-md-6
        p.m-t-sm
          strong About us
        p.about-us-paragraph
          | A diverse group of people coming from four continents with backgrounds in sales management, web design, open source web development, cloud based content management platforms and digital marketing.
        ul.list-unstyled.about-us
          li
            i.fa.fa-envelope-o
            |  Email: <a href="mailto:info@webriq.com">info@webriq.com</a>
          li
            i.fa.fa-mobile
            |  <a href="tel:12032856929">+1 203 285 6929</a> / <a href="tel:442081449347">+44 208 144 9347 (UK)</a>
          li
            i.fa.fa-map-marker
            |  80 Robinsons Road #02-00 Singapore 068898
      .col-sm-6.col-md-2
        p.m-t-sm
          strong Quicklink
        ul.list-unstyled.quicklinks
          li
            i.fa.fa-angle-right
            a(href='/' class='page-scroll') Home
          li
            i.fa.fa-angle-right
            a(href='/#features_main' class='page-scroll') Pages
          li
            i.fa.fa-angle-right
            a(href='/#shops_main' class='page-scroll') Shops
          li
            i.fa.fa-angle-right
            a(href='/#packages' class='page-scroll') Packages
          li
            i.fa.fa-angle-right
            a(href='/partners' class='page-scroll') Partners
          li
            i.fa.fa-angle-right
            a(href='http://app.webriq.com/auth/login' class='page-scroll') Login

      .col-sm-6.col-md-4
        p.m-t-sm
          strong Follow us
        ul.list-inline.social-icon
          li
            a(href='https://www.facebook.com/WebriQHQ/', target='_blank')
              i.fa.fa-facebook
          li
            a(href='https://twitter.com/WebriQ', target='_blank')
              i.fa.fa-twitter
        p.footer-newsletter
          strong
            | Join our newsletter to
            br
            |  receive updates
        a.btn.btn-lg.btn-primary.btn-rounded.btn-inverted.newsletter(href='#', role='button', data-toggle='modal', data-target='#myModal') Sign me up
    .row.footer-credits
      .col-md-12
        p
          | All rights reserved!  2016 WebriQ Pte Ltd &nbsp;
          <a href='/terms'>Terms of Use</a> | <a href='/cookies'>Cookies</a>
