if _path == "/pricing.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
						h1 Pricing

else if _path == "/partners.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
						h1 Partner With Us

else if _path == "/terms.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
						h1 Terms and Conditions

else if _path == "/cookies.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
						h1 Cookies

else if _path == "/get-certified.html"
	#main-featured.get-certified
		.container
			.row
				.col-md-12
					.text-left
						h1 Get Certified

else if _path == "/cms-static-websites.html"
	#main-featured.cms-static-website-sec
		.container
			.row
				.col-md-12.det-cms-header
					.text-center
						h1 Free CMS
						h3 Web Content Management System for Static Pages and Shops
						a.btn.btn-lg.btn-primary.btn-rounded.btn-inverted.create-btn(href='http://app.webriq.com/auth/register', role='button') Create Free Account
						.mouse-icon.hidden-md
							.scroll
								p scroll						