if _path == "/pricing.html"
	#main-featured
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12
					.text-left
						h1 Pricing

else if _path == "/partners.html"
	#main-featured
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12
					.text-left
						h1 Partner With Us

else if _path == "/terms.html"
	#main-featured
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12
					.text-left
						h1 Terms and Conditions

else if _path == "/cookies.html"
	#main-featured
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12
					.text-left
						h1 Cookies

else if _path == "/get-certified.html"
	#main-featured.get-certified
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12
					.text-left
						h1 Get Certified

else if _path == "/cms-static-websites.html"
	#main-featured2.cms-static-website-sec
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12.det-cms-header
					.text-center
						h1 Modern Technology Stack
						h3 for developers and content editors
						a#free_account_link.hvr-ripple-out(href='https://app.webriq.com/sites/create'  target="_blank")
							span.free_account_text.slider_buttons Free Account

else if _path == "/static-websites.html"
	#main-featured2.cms-static-website-sec
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12.det-cms-header
					.text-center
						h1 Modern Technology Stack
						h3 for developers and content editors
						a#free_account_link.hvr-ripple-out(href='https://app.webriq.com/sites/create'  target="_blank")
							span.free_account_text.slider_buttons Free Account

else if _path == "/content-management-system.html"
	#main-featured2.cms-static-website-sec
		.container
			.row
				.svg-earth-pattern
					img.animate-earth-small(src='img/slider-earth-pattern-small.png')
					img.animate-earth-large(src='img/slider-earth-pattern-large.png')
				.col-md-12.det-cms-header
					.text-center
						h1 Modern Technology Stack
						h3 for developers and content editors
						a#free_account_link.hvr-ripple-out(href='https://app.webriq.com/sites/create'  target="_blank")
							span.free_account_text.slider_buttons Free Account
