nav(class="nav_offscreen js-navigation",  data-navigation-handle=".nav_handle_push_right", data-navigation-content=".main-wrapper", data-navigation-options='{"type":"push","gravity":"right","maxWidth":"10000px"}')
  ul.nav.navbar-nav.show-down
      li
        a.page-scroll(href='/#page-top') Home
      //- li
      //-   a.page-scroll(href='/#features_main') Pages
      //- li
      //-   a.page-scroll(href='/#shops_main') Shops
      li
        a.page-scroll(href='/pricing') Prices
      li
        a.page-scroll(href='/partners') Partners
      li
        a(href='/blog') Blog
      li
        a(href='http://app.webriq.com/help/page/demo/howto') Demo
      li
        a.page-scroll(href='http://app.webriq.com/auth/login', class='login') <i class='glyph-icon flaticon-lock64'></i> Login