.navbar-wrapper
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .col-md-12.m-t-md
        //- .navbar-header.page-scroll
        a.navbar-brand(href='/')
          h4 WebriQ
          .hideme
            svg#svg_logo.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='185px', height='100px', viewbox='0 0 185 100', enable-background='new 0 0 185 100', xml:space='preserve')
              g(fill='none', stroke='#2EAEDB', stroke-width='2', stroke-miterlimit='10')
                path.stroke_white(d='M79.5,37c0,16.845-13.655,30.5-30.5,30.5\
                S18.5,53.845,18.5,37S32.155,6.5,49,6.5S79.5,20.155,79.5,37z')
                path.stroke_white(d='M59.803,65.522L49,26.5h-1.75L35.861,64.531')
                path.stroke_white(d='M53.493,6.823L66,53l9.397-31.287')
                path.stroke_white(d='M21.056,24.762L28.875,54L42.486,7.198')
                path(stroke-linecap='round', stroke-miterlimit='10', d='M91.75,2v76.075L49,91.5')
                path(stroke-linecap='round', stroke-miterlimit='10', d='M49,91L2,75.835V2.219')
                path(stroke-linecap='round', stroke-miterlimit='10', d='M2,2h89.75')
                path.stroke_white(d='M180.334,49.5c0,2.209-1.791,4-4,4h-68.667\
                c-2.209,0-4-1.791-4-4v-13c0-2.209,1.791-4,4-4h68.667c2.209,0,4,1.791,4,4V49.5z')

          img(src= records.site.sitedata[0].logo,  id="logo_image", data-svg="svg_logo", class="drawsvg hided")
        .pull-right.top_menu
          svg#svg_menu.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='59px', height='59px', viewbox='0 0 59 59', enable-background='new 0 0 59 59', xml:space='preserve')
            path(fill='none', stroke='#039BE5', stroke-width='2', stroke-miterlimit='10', d='M57.835,29.5c0,15.418-12.499,27.918-27.917,27.918\
            S2,44.918,2,29.5C2,14.083,14.5,1.583,29.917,1.583C45.336,1.583,57.835,14.083,57.835,29.5z')
            g(fill='none', stroke='#039BE5', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10')
              path.stroke_white(d='M13.333,18.667h33.001')
              path.stroke_white(d='M46.334,29.5H13.333')
              path.stroke_white(d='M13.333,39.75h33.001')
          button(type="button", class="hamburger button  nav_handle_push_right")
          #nav-icon1.hided
            span
            span
            span


//- .navbar-wrapper
//-   nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
//-     .col-md-12
//-       .navbar-header.page-scroll
//-         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
//-           span.sr-only Toggle navigation
//-           span.icon-bar
//-           span.icon-bar
//-           span.icon-bar
//-         a.navbar-brand(href='/')
//-           h4 WebriQ
//-           img(src= records.site.sitedata[0].logo)
//-       #navbar.navbar-collapse.collapse
//-         ul.nav.navbar-nav.navbar-right
//-           li
//-             a.page-scroll(href='/#page-top') Home
//-           li
//-             a.page-scroll(href='/#features_main') Pages
//-           li
//-             a.page-scroll(href='/#shops_main') Shops
//-           li
//-             a.page-scroll(href='/#packages') Prices
//-           li
//-             a.page-scroll(href='/partners') Partners
//-           li
//-             a(href='/blog') Blog
//-           li
//-             a(href='http://app.webriq.com/help/page/demo/howto') Demo
//-           li
//-             a.page-scroll(href='http://app.webriq.com/auth/login', class='login') <i class='glyph-icon flaticon-lock64'></i> Login

