if _path == "/pricing.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
					h1 Pricing

else if _path == "/partners.html"
	#main-featured
		.container
			.row
				.col-md-12
					.text-left
					h1 Partner With Us

else if _path == "/get-certified.html"
	#main-featured.get-certified
		.container
			.row
				.col-md-12
					.text-left
					h1 Get Certified