.container.tools.text-left
  .row.text-center
    .col-md-12.space-auto
      h1.heading-1.thin-text.white More Tools To Help You Along
    .col-xs-3.col-md-2.space-auto
      span.hr-line
    .col-md-6.space-auto
      h4.light-text.white More exciting tools to help you along as site owner, content editor or developer.
  .row.m-t-xl
    #toolsTab
      .resp-tabs-container.tools
        div
          .col-md-5
            h3.heading-3.light-text Continuous Deployment of Content (CMS)
            blockqoute
              p In the same way as new code is deployed, so is content. Through a UI friendly Markdown editor with preview mode, you can edit, manage and publish any new or existing content. Content updates are pushed to your Github private repo for immediate deployment on your website.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/continues-deployment.svg")
        div
          .col-md-5
            h3.heading-3.light-text Collaboration for Members
            blockqoute
              p As an account owner you can invite multiple other contributors to your application, be it developers, content writers or content editors.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/collaborative.svg")
        div
          .col-md-5
            h3.heading-3.light-text Redirect, Rewrite, & Proxy Rules
            blockqoute
              p Use different rules to control how requests are handled. Proxy part of your traffic to your own backend, redirect old pages, or rewrite a page entirely. Or do them all.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/rules.svg")
        div
          .col-md-5
            h3.heading-3.light-text Multiple Environments Support
            blockqoute
              p Support multiple environments (i.e. preview, staging, production) with a simple argument. Each environment can track a branch, providing isolated environments for previewing, staging or production.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/multiple-environment.svg")
        div
          .col-md-5
            h3.heading-3.light-text Form Submission Hooks
            blockqoute
              p We support form submissions for any HTML form on your website and each submission triggers an email, a slack notifications or a webhook.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/form-submission.svg")
        div
          .col-md-5
            h3.heading-3.light-text Google Analytics
            blockqoute
              p As one of the essential tools in the industry to analyze traffic and behaviours from your website or APP, we have neatly integrated Google analytics for any of your projects at hand.
            br

          .col-md-7.text-right
            .tab-lead-content
              img.bowser(src="img/browserbg.svg")
              .tab-lead-image
                img(src="img/google-analytics.svg")
      ul.resp-tabs-list.tools
        li
          span.image-tools.hvr-ripple-out
            img(src="img/deployment.svg")
          span.tools-name
            |Continuous Deployment of Content
        li
          span.image-tools.hvr-ripple-out
            img(src="img/membercollaboration.svg")
          span.tools-name
            |Collaboration for Members
        li
          span.image-tools.hvr-ripple-out
            img(src="img/proxyrules.svg")
          span.tools-name
            |Redirect, Rewrite, & Proxy Rules
        li
          span.image-tools.hvr-ripple-out
            img(src="img/environmentsupport.svg")
          span.tools-name
            |Multiple Environments Support
        li
          span.image-tools.hvr-ripple-out
            img(src="img/formsubmission.svg")
          span.tools-name
            |Form Submission Hooks
        li
          span.image-tools.hvr-ripple-out
            img(src="img/googleanalytics.svg")
          span.tools-name
            |Google Analytics