section.comments(style='margin-top: 0')
  .container
    .row
      .col-lg-12.text-center
        .navy-line-2
        h1 Customer Testimonials
    .row.features-block
      .col-md-4.col-sm-6.wow.fadeInLeft.animated
        .bubble
          | "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        .comments-avatar
          a.pull-left(href='')
            img(alt='image', src='img/avatar3.jpg')
          .media-body
            .commens-name
              | Andrew Williams
            small.text-muted Company X from California
      .col-md-4.col-sm-6.wow.fadeInUp.animated
        .bubble
          | "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        .comments-avatar
          a.pull-left(href='')
            img(alt='image', src='img/avatar1.jpg')
          .media-body
            .commens-name
              | Andrew Williams
            small.text-muted Company X from California
      .col-md-4.col-sm-6.wow.fadeInRight.animated
        .bubble
          | "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        .comments-avatar
          a.pull-left(href='')
            img(alt='image', src='img/avatar2.jpg')
          .media-body
            .commens-name
              | Andrew Williams
            small.text-muted Company X from California
