section#pricing.pricing
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        h1.white Pricing Package
    .pricing-package
      .row
        .col-sm-4.wow.fadeInLeft.animated
          ul.pricing-plan.basic.list-unstyled.white-section
            li.pricing-title.basic Basic
            li.pricing-price
              i $
              span 0
              | / mos
            li Standard WebriQpages Template
            li Unli number of Rich Media Pages
            li
              strong Free Access
              |  to all modules
            li 5 User accounts
            li 50hrs Customer Support a month.
            li Continuous deployment services
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='//app.webriq.com/auth/register') Register Now
        .col-sm-4.wow.fadeInRight.animated
          ul.pricing-plan.list-unstyled.selected
            li.pricing-title Premium
            li.pricing-price
              i $
              span 0
              |  / mos
            li Standard WebriQpages Template
            li Unli number of Rich Media Pages
            li Free Access to all modules
            li Unli User accounts
            li
              strong Unli Customer
              |  Support a month.
            li Advanced Emailing System
            li Monitoring System
            li Continuous deployment services
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='//app.webriq.com/auth/register') Register Now
        .col-sm-4.wow.fadeInLeft.animated
          ul.pricing-plan.basic.list-unstyled.white-section
            li.pricing-title.basic Limitless
            li.pricing-price
              i $
              span 0
              | / mos
            li Standard WebriQpages Template
            li One Custom Designed Responsive Themes
            li Unli number of Rich Media Pages
            li
              strong Free Access
              |  to all modules
            li 5 User accounts
            li Unlimited Customer Support a month.
            li Continuous deployment services
            li Free SNI SSL Certificate
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='//app.webriq.com/auth/register') Register Now
    // .pricing-package
