section#packages.pricing
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        h1.white#package Packages
    .pricing-package
      .row
        .col-sm-4
          ul.pricing-plan.basic.list-unstyled.white-section
            li.pricing-title.basic Basic
            li
            li
            li Standard WebriQpages Template
            li Unli number of Rich Media Pages
            li Unli number of Articles and Blog Post
            li Access to all modules
            li 1 Additional User account
            li Continuous deployment services
            li E-mail Support
            li
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='http://app.webriq.com/auth/register') Register Now
        .col-sm-4
          ul.pricing-plan.list-unstyled.white-section.selected
            li.pricing-title Pro
            li
            li
            li Standard WebriQpages Template
            li Unli number of Rich Media Pages
            li Unli number of Articles and Blog Post
            li 5 User accounts
            li Continuous deployment services
            li SSL Certificate
            li E-mail and Ticketing Support
            li
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='#', class='disabled') Coming soon
        .col-sm-4
          ul.pricing-plan.basic.list-unstyled.white-section
            li.pricing-title.basic Limitless
            li
            li
            li Custom Developed Responsive Theme
            li Unli number of Rich Media Pages
            li Unli number of Articles and Blog Post
            li 10 User accounts
            li Continuous deployment services
            li SSL Certificate
            li Ticketing and Chat Support
            li
            li
              a.btn.btn-primary.btn-rounded.btn-xs(href='#', class='disabled') Coming soon
    // .pricing-package
