section#shops_main.gray-section
  h1#shops.text-center WebriQshops
  .container.services.text-left
    .row
      .col-sm-4.teal

        i.glyph-icon.flaticon-shopping202

        h3 Own your eCommerce
        p Get full control of your online retail channels with powerful eCommerce software and shopping cart.

      .col-sm-4.yellow
        i.glyph-icon.flaticon-shopping199
        h3 Sell Anything
        p From different types of products to digital downloads we can handle any eCommerce business vertical.

      .col-sm-4.purple
        i.glyph-icon.flaticon-cellphone55
        h3 100% Mobile Solution
        p Responsive design of storefront and admin are optimized for mobile and tablet devices as well as various computer screen sizes.

    .row
      .col-sm-4.blue
        i.glyph-icon.flaticon-nine16
        h3 Easy to learn & simple to use
        p No special training or knowledge is required to start selling online. Voice controlled and easy to use intuitive interface makes eCommerce management a breeze.

      .col-sm-4.red
        i.glyph-icon.flaticon-new83
        h3 Variety of Payments and Shippings engines
        p Large selection of payment and shipment methods integrated into standard shopping cart application

      .col-sm-4.green
        ii.glyph-icon.flaticon-paper122
        h3 Fast and Secure
        p Fast performing and low computer resource consuming shopping cart application. Very secure solution with best industry practices and inline with PCI compliance.

    .row
      .col-sm-4.blue-gray
        ii.glyph-icon.flaticon-portfolio23
        h3 Full Control
        p Whether it is the code or the content of your website, you are always in full control on all elements of your website. At any time updates on code and content can be made, as well as rolling back to previously published versions.

      .col-sm-4.purple
        ii.glyph-icon.flaticon-link52
        h3 API Enabled
        p Provided with Storefront and Admin API to allow external integrations. Connection are made easy with Restful JSON API.

      .col-sm-4.yellow
        ii.glyph-icon.flaticon-trophy55
        h3 Trusted Brands
        p WebriQ is serving hundreds of companies across four Continents
