
#inSlider.carousel.carousel-fade(data-ride='carousel')
  .carousel-inner(role='listbox')
    .item.active
      .container
        .carousel-caption.text-center
          .centered
            h1.extra-bold
              | Static is the new Dynamic!
              br
            h3.wow.fadeIn.animated
              | Pages and Shops on a powerful automated Cloud Platform.
            p.wow.fadeInUp.animated
              a.btn.btn-lg.btn-primary.btn-rounded(href='http://app.webriq.com', role='button') Create Free Account
            br
            br


        .carousel-image.wow.zoomIn

      // Set background for slide in css
      .header-back.one
    .item
      .container
        .carousel-caption.blank
          .centered
            h1.extra-bold
              | Static is the new Dynamic!
              br
            h3.wow.fadeIn.animated
              | Pages and Shops on a powerful automated Cloud Platform.
            p.wow.fadeInUp.animated
              a.btn.btn-lg.btn-primary.btn-rounded(href='http://app.webriq.com', role='button') Create Free Account
            br
            br

      // Set background for slide in css
      .header-back.two