doctype html
html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='Web Content Management System for Static WebPages and WebShops')
		meta(name="google-site-verification", content="u5iCoezcwE8SATKNxgF7Fen2afZJWUK_Fd5_SuqyDtc")
		meta(name='keywords', content='CMS Static Websites, CMS Static Web Pages, Content Management System Static Websites, Content Management System Static Web Pages, Free CMS Static Pages, Cloud CMS Static Pages')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/img/favicon.ico", rel="icon" type="image/x-icon")


		block head
			title WebriQ - Blog

		include ./layouts/_layout-header

	body.page-blog

		include ./layouts/main-header

		include ./layouts/_main-slider

		.container#main
			.row
				.col-md-12
					block content

		include ./layouts/main-footer

		include ./layouts/mailchimp

		include ./layouts/_layout-footer

