doctype html
html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content= records.site.sitedata[0].metadesc)
		meta(name="google-site-verification", content="u5iCoezcwE8SATKNxgF7Fen2afZJWUK_Fd5_SuqyDtc")
		meta(name='keywords', content= records.site.sitedata[0].metakeyword)
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href= records.site.sitedata[0].icon, rel="icon" type="image/x-icon")


		block head
			title WebriQ - Blog

		include ./layouts/_layout-header

	body.page-blog

		include ./layouts/main-header

		include ./layouts/_main-slider

		.container#main
			.row
				.col-md-12
					block content

		include ./layouts/main-footer

		include ./layouts/mailchimp

		include ./layouts/_layout-footer

