extend main

block head
	title WebriQ - Get Certified

block content

	.why-webriq.col-xs-12.col-sm-4.col-md-4.col-md-4.pull-left
		.row.header
			.col-md-12
				h3.light-text Why WebriQ
		br
		.contents
			.row
				.col-xs-3.col-sm-3.col-md-3.text-center
					i.fa.fa-code.fa-2x
				.col-xs-10.col-sm-9.col-md-9
					p JAM (Javascript, API, Markdown) stack instead of LAMP stack – no database or PHP knowledge needed
			br
			.row
				.col-xs-3.col-sm-3.col-md-3.text-center
					i.fa.fa-git.fa-2x
				.col-xs-10.col-sm-9.col-md-9
					p Git based with version control
			br
			.row
				.col-xs-3.col-sm-3.col-md-3.text-center
					i.fa.fa-connectdevelop.fa-2x
				.col-xs-10.col-sm-9.col-md-9
					p Intuitive CMS system for continuous deployment of your site
			br
			.row
				.col-xs-3.col-sm-3.col-md-3.text-center
					i.fa.fa-lock.fa-2x
				.col-xs-10.col-sm-9.col-md-9
					p Fully secured, reliable , scalable and super fast hosting on a CDN network

	section#features_main.col-xs-12.col-sm-7.col-md-7.get-certified
		.row
			.col-sm-12
				h2.light-text How To Get Certified
		.certified.text-left
			.row.colored-icon
				.col-sm-12.gray
					.row
						.col-sm-12.title
							h3<sup>1</sup> <a href="http://app.webriq.com" target="_blank">Create an account</a>
						.col-sm-12.details
							p Create your free account and start creating your own static website.
							p
								img(src="img/register.jpg").img-responsive

				.col-sm-12.red
					.row

						.col-sm-12.title
							h3<sup>2</sup> Use WebriQ Boilerplate
						.col-sm-12.details

							p Navigate to <strong>Quicklinks</strong> Developer <i class="fa fa-angle-right" aria-hidden="true"></i> Boilerplate or you can go directly to <a href="http://boilerplate.webriq.com/" target="_blank"><strong>boilerplate.webriq.com</strong></a>. Use the documentation to start building your site
							p
								img(src="img/boiler.jpg").img-responsive

				.col-sm-12.teal
					.row
						.col-sm-12.title
							h3<sup>3</sup> Create Slack Account On WebriQHQ
						.col-sm-12.details

							p Go to <a href="http://slackin.webriq.com/" target="_blanck"><strong>slackin.webriq.com</strong></a>  to create your account and start chatting with other developers or chat with one of WebriQ developers on the <strong>Q&A</strong> channel
							p
								img(src="img/createacctslack.jpg").img-responsive

				.col-sm-12.navy
					.row
						.col-sm-12.title
							h3<sup>4</sup> Submit Domain
						.col-sm-12.details
							p Once you are done submit your domain(s) to <a href="mailto:getcertified@webriq.com"><strong>getcertified@webriq.com</strong></a>
							p
								img(src="img/submitdomain.jpg").img-responsive

				.col-sm-12.purple
					.row
						.col-sm-12.title
							h3<sup>5</sup> Website Review
						.col-sm-12.details

							p Upon positive review you will receive a WebriQ Developers certificate and a <strong>70%</strong> discount on our <strong>PRO</strong> service for a period of 1 Year, representing a value of <strong>$245</strong> per year per site.
							p
								img(src="img/review.jpg").img-responsive

				.col-sm-12.yellow
					.row
						.col-sm-12.title
							h3<sup>6</sup> Profile Listed
						.col-sm-12.details

							p Your profile will be listed in our APP, so that potential customers on the platform can contact you for jobs that need to be done on websites on the WebriQ platform.
	br



