extends layout

block head
  title WebriQ - Homepage

block content

    section#features_main.gray-section
      .container.services.text-left.top
        .row
          h1#pages.text-center WebriQpages
          br
          .col-sm-4.col-md-4.teal

            i.glyph-icon.flaticon-alarm31

            h3 Superfast
            p Websites are served through a Content Delivery Network instead of a single server. That means much lower latency, much faster downloads and a 100% uptime. If one of our servers goes down, another server takes over instantaneously.

          .col-sm-4.col-md-4.red
            i.glyph-icon.flaticon-window50
            h3 Simplicity
            p No need to optimize websites for faster database queries or faster downloads. Once built, always built. Changes in the Template Design and the Content will automatically trigger a new build. The entire process takes no more then 20 seconds.

          .col-sm-4.col-md-4.yellow
            i.glyph-icon.flaticon-shopping204
            h3 Cost
            p It is cheaper to build, to maintain and to scale if needed. It all happens automatically. No need to procure more bandwidth or larger hosting service than you need, and no need to cover for occasional traffic spikes. If not money, it will save a lot of headaches.

        .row
          .col-sm-4.col-md-4.gray
            i.glyph-icon.flaticon-lock64
            h3 Security
            p Your websites have no movable parts, no database to connect to or scripts that need to be executed and there is no way to inject malware. Malware, outdated scripts, denial of service attacks are of the past.

          .col-sm-4.col-md-4.navy
            i.glyph-icon.flaticon-cube29
            h3 Kick-ass UI/UX Designs
            p Since there is no need to set up and develop complex database structures for your website, all time can be spent on User Experience designs and User Interface designs. That means repeat visits and visitor spending more time on your website.

          .col-sm-4.col-md-4.purple
            ii.glyph-icon.flaticon-portfolio23
            h3 Full Control
            p Whether it is the code or the content of your website, you are always in full control on all elements of your website. At any time updates on code and content can be made, as well as rolling back to previously published versions.

