extends layout

block head
	title WebriQ | CMS for Static Pages and Shops

block content
	section#features_performance.gray-section.section
		.container.performance.text-left
			.row.text-center
				.col-md-8.space-auto
					h1.m-b-sm.heading-1.thin-text Speed, performance and cost
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text Lighting fast speeds. On average the Time to First Byte is 10 times less than with a fully optimised Dynamic site. And the most cost-effective way of delivering high-performance websites.
			br
			.row.m-t-xl
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
							g#global-cdn
								path.st11(d='M111.902,33.87c13.645,28.519,1.584,62.704-26.934,76.348c-28.525,13.645-62.707,1.585-76.352-26.938\
								C-5.025,54.76,7.035,20.579,35.557,6.935C64.075-6.71,98.256,5.35,111.902,33.87z')
								path.st1(d='M8.742,83.543c-8.117-17.026,8.426-41.823,36.993-55.44c28.563-13.617,58.242-10.859,66.359,6.167')
								path.st1(d='M84.639,110.377c17.016-8.142,19.732-37.825,6.074-66.37C77.059,15.462,52.24-1.05,35.227,7.091')
								path.st1(d='M85.295,110.063c-17.016,8.138-41.834-8.375-55.489-36.918c-13.657-28.543-10.94-58.227,6.077-66.368')
								path.st1(d='M5.538,41.753C0.109,59.818,20.239,81.802,50.544,90.908c30.306,9.108,59.218,1.862,64.644-16.2')
								path.st1(d='M5.328,42.449c5.432-18.063,34.345-25.31,64.65-16.203c30.303,9.106,50.434,31.091,45.002,49.157')
								path.st7(d='M86.254,32.497c-0.445,1.261-1.828,1.922-3.088,1.478l0,0c-1.26-0.445-1.92-1.827-1.477-3.087l0,0\
								c0.443-1.26,1.826-1.921,3.086-1.477l0,0C86.035,29.855,86.697,31.237,86.254,32.497L86.254,32.497z')
								path.st1(d='M8.427,82.888c8.118,17.025,37.8,19.782,66.362,6.163c28.564-13.618,45.107-38.412,36.992-55.438')
								path.st7(d='M66.139,94.452c-0.576,1.636-2.368,2.491-4.002,1.916l0,0c-1.634-0.577-2.493-2.368-1.915-4.003l0,0\
								c0.575-1.634,2.368-2.492,4.001-1.914l0,0C65.859,91.026,66.717,92.817,66.139,94.452L66.139,94.452z')

						//- img.m-t-xs(src="img/globalcdn.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Global CDN
						p.light-text Our highest performing Content Delivery Network (CDN) is based on next-gen tech which allows us to provide one of the fastest, most reliable and highly available CDN globally for any of your websites or Web APPS.
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', style='enable-background:new 0 0 120 120;', xml:space='preserve')
							g#instant-cache-validation
								circle.st2(cx='59.269', cy='60.548', r='50.891')
								g.rotation
									g
										g
											path.st2(d='M115.41,66.195c-2.79,28.292-26.654,50.391-55.677,50.391c-17.125,0-32.454-7.694-42.717-19.813\
											c-0.244-0.289-0.486-0.581-0.724-0.875')
											g
												polygon.st6(points='18.489,95.013 14.328,93.334 14.954,97.777 				')
									g
										g
											path.st2(d='M3.785,60.636c0-30.896,25.049-55.949,55.948-55.949c18.283,0,34.52,8.772,44.73,22.335')
											g
												polygon.st6(points='102.241,27.811 106.331,29.656 105.885,25.191 				')
								path.st1(d='M53.73,78.065c-2.127,8.437,1.438,14.079,2.205,15.164l12.598,5.53c0,0-6.563-8.133-5.569-16.45\
								c1.3-10.892,6.718-18.153,6.718-18.153l-24.34-10.75c0,0-8.031,8.31-10.646,17.812c-1.78,6.479-0.136,12.626-0.136,12.626\
								l17.705,7.775C50.695,83.331,53.73,78.065,53.73,78.065z')
								polygon.st1(points='71.539,61.697 46.386,50.498 48.738,45.061 73.893,56.257 	')
								polygon.st1(points='61.257,47.296 63.632,48.506 73.022,29.068 70.646,27.853 	')
						//- img.m-t-xs(src="img/instantcache.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Instant Cache Invalidation
						p.light-text The slow cache invalidation is the main reason that many developers choose to stick with traditional CMS driven dynamic sites. We provide Instant Cache Invalidation. Once your build is uploaded, we flip the switch and it goes live and the changes in your build are instantly pushed to our global CDN.
			.row.m-t-xl
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', style='enable-background:new 0 0 120 120;', xml:space='preserve')
							g#atomic
								path.st1(d='M111.121,75.579c0,1.94-1.309,3.517-2.923,3.517H10.784c-1.615,0-2.924-1.576-2.924-3.517V9.086\
								c0-1.942,1.31-3.518,2.924-3.518h97.415c1.614,0,2.923,1.575,2.923,3.518V75.579z')
								path.st1(d='M109.222,85.967c0-0.794-1.494-1.436-3.337-1.436H12.261c-1.843,0-3.336,0.642-3.336,1.436l-5.728,27.132\
								c0,0.794,1.494,1.436,3.337,1.436h105.914c1.843,0,3.337-0.642,3.337-1.436L109.222,85.967z')
								rect.st1(x='7.859', y='13.269', width='103.262', height='57.08')
								path.st1(d='M71,9.914c0,0.481-0.39,0.872-0.871,0.872H44.214c-0.481,0-0.872-0.39-0.872-0.872l0,0\
								c0-0.481,0.391-0.871,0.872-0.871h25.915C70.61,9.042,71,9.432,71,9.914L71,9.914z')
								line.st1(x1='18.348', y1='104.081', x2='100.44', y2='104.081')
								line.st1(x1='21.335', y1='95.371', x2='96.858', y2='95.371')
								path.st1(d='M106.595,74.463c0,0.688-0.554,1.244-1.242,1.244c-0.686,0-1.242-0.557-1.242-1.244\
								c0-0.684,0.557-1.243,1.242-1.243C106.041,73.22,106.595,73.779,106.595,74.463z')
								path.st1(d='M100.635,74.463c0,0.688-0.558,1.244-1.243,1.244c-0.687,0-1.243-0.557-1.243-1.244\
								c0-0.684,0.557-1.243,1.243-1.243C100.077,73.22,100.635,73.779,100.635,74.463z')
								path.st1(d='M50.905,58.672H33.688c-5.635,0-10.203-4.568-10.203-10.203c0-5.635,4.123-9.637,9.757-9.637\
								c0-8.721,7.069-15.791,15.791-15.791c5.37,0,10.115,2.68,12.968,6.776c0,0,3.315-1.933,5.369-1.933\
								c4.532,0,8.207,3.674,8.207,8.205c7.334,0,13.281,3.924,13.281,11.259c0,9.688-6.377,11.199-13.712,11.199H64.889')
								g
									g
										line.st1(x1='57.56', y1='64.485', x2='57.56', y2='44.864')
										g
											polygon.st6(points='59.803,45.52 57.56,41.634 55.316,45.52 				')

						//- img.m-t-xs(src="img/autodeploy.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Automatic Deploys
						p.light-text A key part of Continuous Deployment and Integration is the capability to deploy your website or APP quickly, safely and with almost zero impact to production traffic.
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', style='enable-background:new 0 0 120 120;', xml:space='preserve')
							g#high-availability
								circle.st1(cx='59.683', cy='55.218', r='52.729')
								circle.st1(cx='59.683', cy='55.217', r='47.153')
								g.rotation
									circle.st2(cx='59.683', cy='55.216', r='3.526')
									line.st22(x1='83.33', y1='31.576', x2='62.12', y2='52.789')
									line.st22(x1='55.429', y1='55.218', x2='30.952', y2='55.218')
								line.st1(x1='15.42', y1='55.218', x2='19.906', y2='55.218')
								line.st1(x1='99.386', y1='55.218', x2='103.873', y2='55.218')
								line.st1(x1='59.616', y1='99.735', x2='59.616', y2='95.248')
								line.st1(x1='59.616', y1='15.356', x2='59.616', y2='10.869')
								path.st1(d='M86.19,114.619c0,1.499-1.791,2.715-4,2.715H37.418c-2.209,0-4-1.216-4-2.715v-0.227\
								c0-1.499,9.791-3.393,12-3.393H75.19c2.209,0,11,1.894,11,3.393V114.619z')

						//- img.m-t-xs(src="img/hiavailability.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white High Availability
						p.light-text The CDN is setup so that slow or failing nodes are seamlessly removed. Top to bottom, the infrastructure is redundant, to make sure we keep traffic flowing.

	section#features_security_body.gray-section.section
		.container.builtin_security
			.row.text-center
				.col-md-8.space-auto
					h1.heading-1.thin-text Built-in Security And Reliability
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text Performance and speed without Security is meaningless. SSL, HHTP2 and password protection are standard for any website.
			.row
				.col-sm-6.col-md-6.left
					.row.m-b-xl
						.col-md-3
							img(src="img/one_click_ssl.svg")
						.col-md-9
							h3.heading-3.light-text One-Click SSL
							p.light-text We generate, deploy and manage unique SSL certificates for each site with just one click.
					.row.m-b-xl
						.col-md-3
							img(src="img/http.svg")
						.col-md-9
							h3.heading-3.light-text HTTP2
							p.light-text Full support for the next generation web protocol, built for better performance and more efficient asset loading.
					.row.m-b-xl
						.col-md-3
							img(src="img/secure_build_environment.svg")
						.col-md-9
							h3.heading-3.light-text Secure Build Environment
							p.light-text Build environments live only for the duration of the build. Combined with a build cache, we ensure that each build is fast and fully isolated.
					.row.m-b-xl
						.col-md-3
							img(src="img/no_databases_no_servers.svg")
						.col-md-9
							h3.heading-3.light-text No Databases, No Servers
							p.light-text Your websites have no movable parts, no database to connect to or scripts that need to be executed and there is no way to inject malware. Malware, outdated scripts, denial of service attacks are of the past. No single server to be installed, updated or maintained.
				.col-sm-6.col-md-6.right
					#modern-tech
						img.modern(src="img/moderntss.svg", style="opacity:0;")
						.modern-tech-show
							//- img.iphonesvg(src="img/iphonetools.svg")
							svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='530.784px', height='713.514px', viewbox='0 0 533.784 713.514', style='enable-background:new 0 0 533.784 713.514;', xml:space='preserve')
								g#iphonetool
									path.st1(d='M15.284,144.388c0,0-8.326-28.638,18.98-42.291L254.711,12.52c0,0,32.967-9.325,48.285,26.64\
									c15.319,35.963,213.456,513.156,213.456,513.156s15.984,34.299-18.649,52.281l-212.786,90.91c0,0-28.974,10.654-46.289-16.65\
									L15.284,144.388z')
									path.st22(d='M20.525,148.347c0,0-8.12-27.932,18.513-41.248l215.006-87.366c0,0,32.152-9.094,47.092,25.982\
									c14.941,35.077,208.188,500.491,208.188,500.491s15.589,33.451-18.189,50.99l-207.535,88.666c0,0-28.257,10.391-45.145-16.24\
									L20.525,148.347z')
									path.st22(d='M16.713,145.582c0,0-8.277-28.477,18.874-42.051l219.194-89.069c0,0,32.779-9.272,48.011,26.488\
									c15.231,35.76,212.243,510.24,212.243,510.24s15.894,34.107-18.542,51.986l-211.578,90.393c0,0-28.809,10.594-46.026-16.555\
									L16.713,145.582z')
									path.st3(d='M160.505,73.809c0,3.587-2.907,6.496-6.495,6.496s-6.496-2.908-6.496-6.496c0-3.587,2.908-6.495,6.496-6.495\
									S160.505,70.222,160.505,73.809z')
									path.st3(d='M158.74,73.809c0,2.612-2.117,4.73-4.729,4.73c-2.611,0-4.729-2.118-4.729-4.73\
									c0-2.612,2.118-4.729,4.729-4.729C156.623,69.08,158.74,71.197,158.74,73.809z')
									path.st3(d='M127.215,110.834c0,1.705-1.381,3.085-3.085,3.085s-3.085-1.38-3.085-3.085c0-1.704,1.381-3.084,3.085-3.084\
									S127.215,109.13,127.215,110.834z')
									path.st3(d='M125.594,110.834c0,0.81-0.654,1.465-1.464,1.465s-1.464-0.655-1.464-1.465c0-0.809,0.654-1.464,1.464-1.464\
									S125.594,110.025,125.594,110.834z')
									path.st3(d='M183.765,87.687c0.137,0.333-0.021,0.711-0.354,0.848l-41.907,17.22c-0.332,0.137-0.711-0.022-0.848-0.354l0,0\
									c-0.137-0.333,0.021-0.711,0.354-0.848l41.907-17.22C183.25,87.196,183.629,87.355,183.765,87.687L183.765,87.687z')
									path.st3(d='M397.596,611.325c0,12.197-9.888,22.084-22.085,22.084s-22.086-9.887-22.086-22.084s9.889-22.086,22.086-22.086\
									S397.596,599.128,397.596,611.325z')
									path.st3(d='M401.494,611.325c0,14.348-11.633,25.982-25.982,25.982s-25.983-11.635-25.983-25.982\
									c0-14.352,11.634-25.984,25.983-25.984S401.494,596.974,401.494,611.325z')
									path.st3(d='M402.956,611.325c0,15.156-12.288,27.443-27.444,27.443c-15.157,0-27.445-12.287-27.445-27.443\
									c0-15.158,12.288-27.445,27.445-27.445C390.667,583.88,402.956,596.167,402.956,611.325z')
									path.st22(d='M39.038,175.629L304.059,69.425l190,457.619L230.985,637.308L39.038,175.629z')
									rect.st6(x='348.489', y='120.799', transform='matrix(0.9238 -0.383 0.383 0.9238 -28.1256 145.014)', width='3.335', height='44.698')
									path.st4(d='M27.313,164.585l-2.586,2.395L23,162.799l2.531-2.526L27.313,164.585z')
									path.st6(d='M69.885,279.373c0.391,0.93-0.046,2.001-0.977,2.392l0,0c-0.93,0.391-2.001-0.046-2.393-0.976L52.36,247.104\
									c-0.392-0.931,0.046-2.001,0.977-2.393l0,0c0.93-0.391,2,0.047,2.392,0.976L69.885,279.373z')
									path.st6(d='M42.407,213.698c0.391,0.93-0.046,2.001-0.977,2.392l0,0c-0.93,0.391-2.001-0.046-2.393-0.976l-9.793-23.561\
									c-0.391-0.931,0.047-2.001,0.977-2.393l0,0c0.93-0.391,2.002,0.047,2.393,0.976L42.407,213.698z')
									path.st6(d='M92.539,332.718c0.392,0.931-0.046,2.001-0.976,2.392l0,0c-0.931,0.391-2.001-0.045-2.393-0.976L75.013,300.45\
									c-0.391-0.931,0.046-2.001,0.977-2.392l0,0c0.93-0.391,2.001,0.046,2.392,0.977L92.539,332.718z')
									path.st4(d='M302.936,49.97l3.187-1.123l1.638,3.903l-3.178,1.138L302.936,49.97z')
									path.st4(d='M503.957,533.278h3.642l2.465,5.936l-3.57,0.178L503.957,533.278z')
									path.st5(d='M59.681,187.775l-1.369,0.526l-1.155-3.004l1.369-0.526L59.681,187.775z')
									path.st5(d='M55.9,189.228l-1.37,0.526l-0.746-1.943l1.369-0.526L55.9,189.228z')
									path.st5(d='M63.461,186.322l-1.369,0.526l-2.139-5.566l1.369-0.526L63.461,186.322z')
									rect.st5(x='64.195', y='176.349', transform='matrix(0.9334 -0.3588 0.3588 0.9334 -60.5878 35.3471)', width='1.467', height='9.086')
									rect.st5(x='67.501', y='172.334', transform='matrix(0.9334 -0.3588 0.3588 0.9334 -59.4023 36.3544)', width='1.467', height='11.736')
									g
										path.st0(d='M167.859,143.555c-1.438,0.501-2.894-0.504-3.764-2.932c-0.864-2.48-0.257-4.203,1.238-4.724\
										c1.54-0.537,2.917,0.535,3.733,2.878c0.871,2.504,0.412,4.212-1.197,4.772L167.859,143.555z M167.635,142.769\
										c1.01-0.351,1.082-1.71,0.428-3.59c-0.631-1.812-1.498-2.844-2.541-2.481c-0.906,0.315-1.092,1.676-0.449,3.522\
										c0.644,1.922,1.635,2.872,2.552,2.553L167.635,142.769z')
										path.st0(d='M173.5,133.195l0.229,0.657l-0.871,7.821l-1.019,0.355l0.914-7.621l-0.008-0.023l-3.602,1.254l-0.287-0.827\
										L173.5,133.195z')
										path.st0(d='M177.877,140.066c-0.385,0.134-0.764-0.077-0.901-0.474c-0.146-0.419,0.035-0.812,0.42-0.946\
										c0.407-0.142,0.771,0.062,0.917,0.481c0.138,0.396-0.016,0.793-0.424,0.935L177.877,140.066z M176.497,136.064\
										c-0.385,0.134-0.764-0.078-0.9-0.474c-0.146-0.419,0.033-0.812,0.419-0.947c0.407-0.141,0.771,0.062,0.917,0.481\
										c0.139,0.396-0.016,0.793-0.424,0.935L176.497,136.064z')
										path.st0(d='M179.368,132.194l-0.023,0.008l-1.039,1.137l-0.457-0.692l1.309-1.42l0.85-0.296l2.564,7.362l-0.963,0.336\
										L179.368,132.194z')
										path.st0(d='M187.381,129.303l-2.81,0.978l0.367,1.968c0.162-0.082,0.313-0.16,0.585-0.254\
										c0.577-0.201,1.176-0.27,1.723-0.157c0.688,0.117,1.389,0.597,1.721,1.548c0.501,1.438-0.269,2.913-1.865,3.469\
										c-0.805,0.28-1.552,0.286-1.992,0.186l-0.016-0.846c0.369,0.075,1.047,0.092,1.728-0.145c0.929-0.324,1.53-1.219,1.173-2.212\
										c-0.339-0.974-1.217-1.417-2.679-0.909c-0.431,0.15-0.747,0.298-1.003,0.438l-0.747-3.677l3.522-1.227L187.381,129.303z')
									path.st5(d='M294.39,91.666l-21.163,8.497l-3.524-8.775l21.164-8.497L294.39,91.666z')
									path.st5(d='M288.661,92.314l-14.354,5.762l-2.381-5.931l14.354-5.763L288.661,92.314z')
									path.st5(d='M295.324,89.639l-1.462,0.587l-2.382-5.931l1.463-0.587L295.324,89.639z')

	section#features_automation.gray-section.section
		.container.automation.text-left
			.row.text-center
				.col-md-10.space-auto
					h1.heading-1.thin-text Automation For Ease
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text We have you completely covered when it comes to automating the entire workflow. The separation of front-end and back-end opens up a lot of possibilities, but has it's challenges.
			.row.m-t-xl
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/gitintegrate.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Git <br>Integration
							p.light-text We pair with Git . With GitHub private repos we let you pull, change and push all code and content to manage your site.
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/webhooks.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Outbound Webhooks<br> & Integrations
							p.light-text Set up any number of outbound webhooks. Receive email or Slack notifications for new form submissions, new deploys or build failures.
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/rollbacks.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Versioning &<br> Rollbacks
							p.light-text Each lightweight deploy is treated as an immutable snapshot of the site. Rolling back as far as you’d like is just a matter of clicking the version you want live again.

	section#features_tools.gray-section.section
		include layouts/more-tools



	section#features_languages.section
		.container.languages.text-left.gray-section
			.row
				.col-sm-7.col-md-7.col-lg-6.space-auto.text-center
					h2.heading-2.thin-text Beyond five different world languages, we speak also your <strong>language</strong>
				br
				.col-md-11
					ul#different_languages
						li
							a(href="#")
								img(src="img/brand_logos/nodejslogo.svg", height="46", width="158")
						li
							a(href="#")
								img(src="img/brand_logos/html5logo.svg", height="54", width="93")
						li
							a(href="#")
								img(src="img/brand_logos/css3logo.svg", height="56", width="83")
						li
							a(href="#")
								img(src="img/brand_logos/jslogo.svg", height="56", width="73")
						li
							a(href="#")
								img(src="img/brand_logos/githublogo.svg", height="57", width="59")
						li
							a(href="#")
								img(src="img/brand_logos/npmlogo.svg", height="46", width="118")
						li
							a(href="#")
								img(src="img/brand_logos/coffescriptlogo.svg", height="45", width="185")
						li
							a(href="#")
								img(src="img/brand_logos/puglogo.svg", height="51", width="149")
						li
							a(href="#")
								img(src="img/brand_logos/markdownlogo.svg", height="45", width="71")
						li
							a(href="#")
								img(src="img/brand_logos/styluslogo.svg", height="65", width="69")
						li
							a(href="#")
								img(src="img/brand_logos/slacklogo.svg", height="45", width="164")
						li
							a(href="#")
								img(src="img/brand_logos/trellologo.svg", height="40", width="137")