extends layout

block head
	title WebriQ | CMS for Static Pages and Shops

block content
	section#features_performance.gray-section.section
		.container.performance.text-left
			.row.text-center
				.col-md-8.space-auto
					h1.m-b-sm.heading-1.thin-text Speed, performance and cost
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text Lighting fast speeds. On average the Time to First Byte is 10 times less than with a fully optimised Dynamic site. And the most cost-effective way of delivering high-performance websites.
			br
			.row.m-t-xl
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						img.m-t-xs(src="img/globalcdn.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Global CDN
						p.light-text Our highest performing Content Delivery Network (CDN) is based on next-gen tech which allows us to provide one of the fastest, most reliable and highly available CDN globally for any of your websites or Web APPS.
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						img.m-t-xs(src="img/instantcache.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Instant Cache Invalidation
						p.light-text The slow cache invalidation is the main reason that many developers choose to stick with traditional CMS driven dynamic sites. We provide Instant Cache Invalidation. Once your build is uploaded, we flip the switch and it goes live and the changes in your build are instantly pushed to our global CDN.
			.row
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						img.m-t-xs(src="img/autodeploy.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white Automatic Deploys
						p.light-text A key part of Continuous Deployment and Integration is the capability to deploy your website or APP quickly, safely and with almost zero impact to production traffic.
				.col-xs-12.col-sm-6.col-md-6.m-b-xl
					.col-sm-12.col-md-3
						img.m-t-xs(src="img/hiavailability.svg")
					.col-sm-12.col-md-9
						h3.heading-3.thin-text.white High Availability
						p.light-text The CDN is setup so that slow or failing nodes are seamlessly removed. Top to bottom, the infrastructure is redundant, to make sure we keep traffic flowing.

	section#features_security_body.gray-section.section
		.container.builtin_security
			.row.text-center
				.col-md-8.space-auto
					h1.heading-1.thin-text Built-in Security And Reliability
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text Performance and speed without Security is meaningless. SSL, HHTP2 and password protection are standard for any website.
			.row
				.col-sm-6.col-md-6.left
					.row.m-b-xl
						.col-md-3
							img(src="img/one_click_ssl.svg")
						.col-md-9
							h3.heading-3.light-text One-Click SSL
							p.light-text We generate, deploy and manage unique SSL certificates for each site with just one click.
					.row.m-b-xl
						.col-md-3
							img(src="img/http.svg")
						.col-md-9
							h3.heading-3.light-text HTTP2
							p.light-text Full support for the next generation web protocol, built for better performance and more efficient asset loading.
					.row.m-b-xl
						.col-md-3
							img(src="img/secure_build_environment.svg")
						.col-md-9
							h3.heading-3.light-text Secure Build Environment
							p.light-text Build environments live only for the duration of the build. Combined with a build cache, we ensure that each build is fast and fully isolated.
					.row.m-b-xl
						.col-md-3
							img(src="img/no_databases_no_servers.svg")
						.col-md-9
							h3.heading-3.light-text No Databases, No Servers
							p.light-text Your websites have no movable parts, no database to connect to or scripts that need to be executed and there is no way to inject malware. Malware, outdated scripts, denial of service attacks are of the past. No single server to be installed, updated or maintained.
				.col-sm-6.col-md-6.right
					#modern-tech
						img.modern(src="img/moderntss.svg", style="opacity:0;")
						.modern-tech-show
							img.iphonesvg(src="img/iphonetools.svg")

	section#features_automation.gray-section.section
		.container.automation.text-left
			.row.text-center
				.col-md-10.space-auto
					h1.heading-1.thin-text Automation For Ease
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-7.space-auto
					h4.light-text We have you completely covered when it comes to automating the entire workflow. The separation of front-end and back-end opens up a lot of possibilities, but has it's challenges.
			.row.m-t-xl
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/gitintegrate.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Git <br>Integration
							p.light-text We pair with Git . With GitHub private repos we let you pull, change and push all code and content to manage your site.
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/webhooks.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Outbound Webhooks<br> & Integrations
							p.light-text Set up any number of outbound webhooks. Receive email or Slack notifications for new form submissions, new deploys or build failures.
				.col-md-4
					.lead-item.text-center
						.lead-image
							img(src="img/rollbacks.png")
						.lead-content
							.lead-title
								h3.heading-3.thin-text Versioning &<br> Rollbacks
							p.light-text Each lightweight deploy is treated as an immutable snapshot of the site. Rolling back as far as you’d like is just a matter of clicking the version you want live again.

	section#features_tools.gray-section.section
		.container.tools.text-left
			.row.text-center
				.col-md-12.space-auto
					h1.heading-1.thin-text.white More Tools To Help You Along
				.col-xs-3.col-md-2.space-auto
					span.hr-line
				.col-md-6.space-auto
					h4.light-text.white More exciting tools to help you along as site owner, content editor or developer.
			.row.m-t-xl
				#toolsTab
					.resp-tabs-container.tools
						div
							.col-md-5
								h3.heading-3.light-text Continuous Deployment of Content (CMS)
								blockqoute
									p In the same way as new code is deployed, so is content. Through a UI friendly Markdown editor with preview mode, you can edit, manage and publish any new or existing content. Content updates are pushed to your Github private repo for immediate deployment on your website.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/continues-deployment.svg")
						div
							.col-md-5
								h3.heading-3.light-text Collaboration for Members
								blockqoute
									p As an account owner you can invite multiple other contributors to your application, be it developers, content writers or content editors.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/collaborative.svg")
						div
							.col-md-5
								h3.heading-3.light-text Redirect, Rewrite, & Proxy Rules
								blockqoute
									p Use different rules to control how requests are handled. Proxy part of your traffic to your own backend, redirect old pages, or rewrite a page entirely. Or do them all.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/rules.svg")
						div
							.col-md-5
								h3.heading-3.light-text Multiple Environments Support
								blockqoute
									p Support multiple environments (i.e. preview, staging, production) with a simple argument. Each environment can track a branch, providing isolated environments for previewing, staging or production.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/multiple-environment.svg")
						div
							.col-md-5
								h3.heading-3.light-text Form Submission Hooks
								blockqoute
									p We support form submissions for any HTML form on your website and each submission triggers an email, a slack notifications or a webhook.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/form-submission.svg")
						div
							.col-md-5
								h3.heading-3.light-text Google Analytics
								blockqoute
									p As one of the essential tools in the industry to analyze traffic and behaviours from your website or APP, we have neatly integrated Google analytics for any of your projects at hand.
								br

							.col-md-7.text-right
								.tab-lead-content
									img.bowser(src="img/browserbg.svg")
									.tab-lead-image
										img(src="img/google-analytics.svg")
					ul.resp-tabs-list.tools
						li
							span.image-tools.hvr-ripple-out
								img(src="img/deployment.svg")
							span.tools-name
								|Continuous Deployment of Content
						li
							span.image-tools.hvr-ripple-out
								img(src="img/membercollaboration.svg")
							span.tools-name
								|Collaboration for Members
						li
							span.image-tools.hvr-ripple-out
								img(src="img/proxyrules.svg")
							span.tools-name
								|Redirect, Rewrite, & Proxy Rules
						li
							span.image-tools.hvr-ripple-out
								img(src="img/environmentsupport.svg")
							span.tools-name
								|Multiple Environments Support
						li
							span.image-tools.hvr-ripple-out
								img(src="img/formsubmission.svg")
							span.tools-name
								|Form Submission Hooks
						li
							span.image-tools.hvr-ripple-out
								img(src="img/googleanalytics.svg")
							span.tools-name
								|Google Analytics



	section#features_languages.section
		.container.languages.text-left.gray-section
			.row
				.col-sm-7.col-md-7.col-lg-6.space-auto.text-center
					h2.heading-2.thin-text Beyond five different world languages, we speak also your <strong>language</strong>
				br
				.col-md-11
					ul#different_languages
						li
							a(href="#")
								img(src="img/brand_logos/nodejslogo.svg", height="46", width="158")
						li
							a(href="#")
								img(src="img/brand_logos/html5logo.svg", height="54", width="93")
						li
							a(href="#")
								img(src="img/brand_logos/css3logo.svg", height="56", width="83")
						li
							a(href="#")
								img(src="img/brand_logos/jslogo.svg", height="56", width="73")
						li
							a(href="#")
								img(src="img/brand_logos/githublogo.svg", height="57", width="59")
						li
							a(href="#")
								img(src="img/brand_logos/npmlogo.svg", height="46", width="118")
						li
							a(href="#")
								img(src="img/brand_logos/coffescriptlogo.svg", height="45", width="185")
						li
							a(href="#")
								img(src="img/brand_logos/puglogo.svg", height="51", width="149")
						li
							a(href="#")
								img(src="img/brand_logos/markdownlogo.svg", height="45", width="71")
						li
							a(href="#")
								img(src="img/brand_logos/styluslogo.svg", height="65", width="69")
						li
							a(href="#")
								img(src="img/brand_logos/slacklogo.svg", height="45", width="164")
						li
							a(href="#")
								img(src="img/brand_logos/trellologo.svg", height="40", width="137")