section#packages
  .container.responsive.pricing.pt-40.pb-40
    h1#package.extra-bold.text-center Pricing
    h4.text-center The Ultimate solution for your online business needs
    br
    br
    ul.nav.nav-tabs.text-center.pricing-tab
      li.active
        a(aria-expanded='true', data-toggle='tab', href='#WebriQpages') WebriQpages
      li
        a(aria-expanded='false', data-toggle='tab', href='#WebriQshops') WebriQshops
    .tab-content.mt-40.table-tab-content
      #WebriQpages.tab-pane.active
        .table-responsive
          table.table
            thead
              tr
                th
                  h3.text-white.mt-10.mb-0
                    | Features
                th.basic
                  h3.text-center.text-white.mt-0.mb-25 Basic
                th.pro
                  h3.text-center.text-white.mt-0.mb-25 Pro
                th.limitless
                  h3.text-center.text-white.mt-0.mb-25 Limitless
            tbody
              tr
                td.td-feature
                  | Standard Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='Standard WebriQpages Templates', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-content='One WebriQ Custom Designed Responsive Theme', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='One WebriQ Custom Developed Responsive Template', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Pages
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Rich Media Pages', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Blogs and Articles
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Blog and Article Posts', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Content Management System
                  a.btn-plus-feature.text-right(data-container='body', data-content='Browser based Content Management System', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Basic SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Free SNI SSL Certificate', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Continuous Deployment
                  a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment services', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment servicesSent your request to support@webriq.com (max. 48 hours response time)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Ticketing Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request support through  http://helpdesk.webriq.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request Code and Content updates through Slack', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Move your domain to WebriQ.', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Domain aliases
                  a.btn-plus-feature.text-right(data-container='body', data-content='Point more domains to one website (maximum 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Subdomain on www.webriqs.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Global CDN Network
                  a.btn-plus-feature.text-right(data-container='body', data-content='Sites are served straight out of our CDN nodes with low latency', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Public Git Repository
                  a.btn-plus-feature.text-right(data-container='body', data-content='Links your website with WebriQ Github Public Repository', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-times
              tr
                td.td-feature
                  | Private Git Repository
                  a.btn-plus-feature.text-right(data-container='body', data-content='Links your website with WebriQ Github Private Repository', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Additional Team Members
                  a.btn-plus-feature.text-right(data-container='body', data-content='Roles and permissions for additional team members (up to 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Versioning and Rollbacks
                  a.btn-plus-feature.text-right(data-container='body', data-content='Download previous deploys and roll back to previous versions', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.pricing-nb  
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/sites/create', target='_blank', class='btn btn-primary btn-rounded btn-xs') Free
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/sites/create', target='_blank', class='btn btn-primary btn-rounded btn-xs') Starts at $35
                td.pricing-nb.text-center
                  a.text-white(data-target='#contactUs', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote





      #WebriQshops.tab-pane
       .table-responsive
          table.table
            thead
              tr
                th
                  h3.text-white.mt-10.mb-0
                    | Features
                th.basic
                  h3.text-center.text-white.mt-0.mb-25 Basic
                th.pro
                  h3.text-center.text-white.mt-0.mb-25 Pro
                th.limitless
                  h3.text-center.text-white.mt-0.mb-25 Limitless
            tbody
              tr
                td.td-feature
                  | Standard Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='Standard WebriQshop Template', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-content='One Custom Designed Responsive Theme', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-times  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='One Custom Developed Responsive Template', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-times  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Products
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Products, Categories and subcategories', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Digital Products
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Digital Products', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Reviews
                  a.btn-plus-feature.text-right(data-container='body', data-content='Products reviews', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Embed
                  a.btn-plus-feature.text-right(data-container='body', data-content='Embed all or portions of your products in other websites', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Content Manager
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited number of Pages for related content', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Basic SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Free SNI SSL Certificate', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Shipping Logic
                  a.btn-plus-feature.text-right(data-container='body', data-content='Various shipping logics', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Shipping Engine
                  a.btn-plus-feature.text-right(data-container='body', data-content='Automate and calculate all your shipments. Fedex and UPS', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Paypal Express
                  a.btn-plus-feature.text-right(data-container='body', data-content='Payments through Paypal and Paypal Express', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Payment Gateways
                  a.btn-plus-feature.text-right(data-container='body', data-content='Additional payment gateways such as Stripe', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Sent your request to support@webriq.com (max. 48 hours response time)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Ticketing Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request support through http://helpdesk.webriq.com/en', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request Code and Content updates through Slack', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-times  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Move your domain to WebriQ.', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Domain aliases
                  a.btn-plus-feature.text-right(data-container='body', data-content='Point more domains to one website.', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Subdomain on www.webriqshops.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Cloud Instances
                  a.btn-plus-feature.text-right(data-container='body', data-content='WebriQshops are on Cloud instances and CDN nodes around the world', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Storefront API access
                  a.btn-plus-feature.text-right(data-container='body', data-content='RESTful API with JSON as a primary data document format', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Additional Team Members
                  a.btn-plus-feature.text-right(data-container='body', data-content='WebriQshops can be managed by additional team members', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | FTP Secure Access
                  a.btn-plus-feature.text-right(data-container='body', data-content='Secure Access to Storefront, Database and Core modules', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Full SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Dedicated SSL Certificate that works everywhere', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times  
                td.td-pro.text-center
                  em.fa.fa-times  
                td.td-limiteless.text-center
                  strong on demand

              tr
                td.pricing-nb  
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/sites/create', target='_blank', class='btn btn-primary btn-rounded btn-xs') Free
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/sites/create', target='_blank', class='btn btn-primary btn-rounded btn-xs') Starts at $35
                td.pricing-nb.text-center
                  a.text-white(data-target='#contactUs', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote
  br
  br

