extend main

block head
		title WebriQ - Pricing

block content

	section#packages
		.container.responsive.pricing.pt-40.pb-40.gray-section
			//- h1#package.light-text.text-center.navy-text.heading-1 Pricing
			//- //- h4.text-center.light-text The Ultimate solution for your online business needs
			//- br
			//- br
			//- ul.nav.nav-tabs.text-center.pricing-tab
			//- 	li.active
			//- 		a(aria-expanded='true', data-toggle='tab', href='#WebriQpages') WebriQpages
			.tab-content.mt-40.table-tab-content
				#WebriQpages.tab-pane.active
					.table-responsive
						table.table
							thead
								tr
									th.features
										h3.text-white.mt-10.mb-0
											| Features
									th.basic
										h3.text-center.text-white.mt-0.mb-25 Basic
									th.pro
										h3.text-center.text-white.mt-0.mb-25 Pro
							tbody
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Standard WebriQpages Templates', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Standard Template
									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check  

								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='One WebriQ Custom Developed Responsive Template', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Custom Template
									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Rich Media Pages', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Pages
									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Blog and Article Posts', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Blogs and Articles

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Free Contact Form', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Forms

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Browser based Content Management System', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Content Management System

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Free SNI SSL Certificate', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Basic SSL

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment services', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Continuous Deployment

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Move your domain to WebriQ.', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Custom Domain

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Point more domains to one website (maximum 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Domain aliases

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Subdomain on www.webriqs.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Subdomain

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Sites are served straight out of our CDN nodes with low latency', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Global CDN Network

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Links your website with WebriQ Github Private Repository', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Private Git Repository

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Roles and permissions for additional team members (up to 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Additional Team Members

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Download previous deploys and roll back to previous versions', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Versioning and Rollbacks

									td.td-basic.text-center
										em.fa.fa-check
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment servicesSent your request to support@webriq.com (max. 48 hours response time)', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| E-mail Support

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.td-feature
										a.btn-plus-feature.text-right(data-container='body', data-content='Request support through  http://helpdesk.webriq.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
											em.plus-icon
												em.fa.fa-info
										| Ticketing Support

									td.td-basic.text-center
										em.fa.fa-times
									td.td-pro.text-center
										em.fa.fa-check
								tr
									td.pricing-nb  
									td.pricing-nb.price-basic.text-center
										a.text-white(href='http://app.webriq.com', target='_blank', class='btn btn-primary btn-rounded btn-xs') Free Account
									td.pricing-nb.price-pro.text-center
										a.text-white(href='http://app.webriq.com', target='_blank', class='btn btn-primary btn-rounded btn-xs')
											strong $25
											|  Per Month
		br
		br

