extend main

block head
  title WebriQ - Pricing

block content

  .container.responsive.pricing.pt-40.pb-40
    ul.nav.nav-tabs.text-center.pricing-tab
      li.active
        a(aria-expanded='true', data-toggle='tab', href='#WebriQpages') WebriQpages
      li
        a(aria-expanded='false', data-toggle='tab', href='#WebriQshops') WebriQshops
    .tab-content.mt-40.table-tab-content
      #WebriQpages.tab-pane.active
        .table-responsive
          table.table
            thead
              tr
                th
                  h3.text-white.mt-10.mb-0
                    | Features
                th.basic
                  h3.text-center.text-white.mt-0.mb-25 Basic
                th.pro
                  h3.text-center.text-white.mt-0.mb-25 Pro
                th.limitless
                  h3.text-center.text-white.mt-0.mb-25 Limitless
            tbody
              tr
                td.td-feature
                  | Standard Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='Standard WebriQpages Templates', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-content='One WebriQ Custom Designed Responsive Theme', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='One WebriQ Custom Developed Responsive Template', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Pages
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Rich Media Pages', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Blogs and Articles
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Blog and Article Posts', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Content Management System
                  a.btn-plus-feature.text-right(data-container='body', data-content='Browser based Content Management System', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Basic SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Free SNI SSL Certificate', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Continuous Deployment
                  a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment services', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Continuous deployment servicesSent your request to support@webriq.com (max. 48 hours response time)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Ticketing Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request support through  http://webriq.freshdesk.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request Code and Content updates through Slack', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Move your domain to WebriQ.', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Domain aliases
                  a.btn-plus-feature.text-right(data-container='body', data-content='Point more domains to one website (maximum 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Subdomain on www.webriqs.com', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Global CDN Network
                  a.btn-plus-feature.text-right(data-container='body', data-content='Sites are served straight out of our CDN nodes with low latency', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Public Git Repository
                  a.btn-plus-feature.text-right(data-container='body', data-content='Links your website with WebriQ Github Public Repository', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-times
              tr
                td.td-feature
                  | Private Git Repository
                  a.btn-plus-feature.text-right(data-container='body', data-content='Links your website with WebriQ Github Private Repository', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Additional Team Members
                  a.btn-plus-feature.text-right(data-container='body', data-content='Roles and permissions for additional team members (up to 5)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Versioning and Rollbacks
                  a.btn-plus-feature.text-right(data-container='body', data-content='Download previous deploys and roll back to previous versions', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Webhooks & Notifications
                  a.btn-plus-feature.text-right(data-container='body', data-content='Support for both inbound and outbound Webhooks.', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check
                td.td-pro.text-center
                  em.fa.fa-check
                td.td-limiteless.text-center
                  em.fa.fa-check
              tr
                td.td-feature
                  | Storage
                  a.btn-plus-feature.text-right(data-container='body', data-content='Storage capacity ', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  | 500MB
                td.td-pro.text-center
                  strong 5GB
                td.td-limiteless.text-center
                  strong 25GB
              tr
                td.td-feature
                  | Bandwidth
                  a.btn-plus-feature.text-right(data-container='body', data-content='Bandwidth use limit per month', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  | 5GB
                td.td-pro.text-center
                  strong 50GB
                td.td-limiteless.text-center
                  strong 100GB

              tr
                td.pricing-nb  
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/auth/register', target='_blank', class='btn btn-primary btn-rounded btn-xs') Sign-up For Free
                td.pricing-nb.text-center
                  a.text-white(data-target='#myModal2', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote
                td.pricing-nb.text-center
                  a.text-white(data-target='#myModal2', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote





      #WebriQshops.tab-pane
       .table-responsive
          table.table
            thead


              tr
                th
                  h3.text-white.mt-10.mb-0
                    | Features<!--
                  p.text-center.text-white
                    | Click
                    em.plus-icon
                      em.fa.fa-info  
                    |                             for extra info -->
                th.basic
                  h3.text-center.text-white.mt-0.mb-25 Basic
                th.pro
                  h3.text-center.text-white.mt-0.mb-25 Pro
                th.limitless
                  h3.text-center.text-white.mt-0.mb-25 Limitless
            tbody
              tr
                td.td-feature
                  | Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-content='Up to three Custom Designed Responsive Themes', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Custom Template
                  a.btn-plus-feature.text-right(data-container='body', data-content='Up to three Custom Developed Responsive Themes', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Products
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Products, Categories and sub categories', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Digital Products
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited Number of Digital Products that can be downloaded', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Reviews
                  a.btn-plus-feature.text-right(data-container='body', data-content='Let your products be reviewed by customers and experts in your business area', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Embed
                  a.btn-plus-feature.text-right(data-container='body', data-content='Embed all or portions of your products in other websites or Social Media accounts like Facebook and Pinterest', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Content Manager
                  a.btn-plus-feature.text-right(data-container='body', data-content='Unlimited number of Pages for related content, i.e. about us, terms and conditions, Shipping terms, return policy', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Newsletter Sign-up
                  a.btn-plus-feature.text-right(data-container='body', data-content='Build a list of customers that you can reach through E-mail and Newsletter Marketing', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | E-mail Marketing
                  a.btn-plus-feature.text-right(data-container='body', data-content='Set-up with a dedicated Mailchimp account for up to 2,000 customers and 12,000 emails sent per month', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Social Media
                  a.btn-plus-feature.text-right(data-container='body', data-content='Your website is integrated with your social media assets, like Twitter, Facebook, Instagram, Google', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Chat
                  a.btn-plus-feature.text-right(data-container='body', data-content='Zopim chat lets you chat with customers and give them real-time support', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Basic SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Enable HTTPS for your site. A Free SNI SSL Certificate is included in your plan', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Shipping Logic
                  a.btn-plus-feature.text-right(data-container='body', data-content='Set-up of various shipping logics applicable to your business model', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center 1
                td.td-pro.text-center 3
                td.td-limiteless.text-center unlimited
              tr
                td.td-feature
                  | Shipping Engine
                  a.btn-plus-feature.text-right(data-container='body', data-content='Set-up of a shipping engine to automate and calculate all your shipments. Fedex, UPS and Australian Post', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center 1
                td.td-pro.text-center 2
                td.td-limiteless.text-center 2
              tr
                td.td-feature
                  | Paypal Express
                  a.btn-plus-feature.text-right(data-container='body', data-content='Set-up your shop to include credit card and Paypal payments through Paypal and Paypal Express', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Payment Gateways
                  a.btn-plus-feature.text-right(data-container='body', data-content='Set-up of additional payment gateways such as Stripe, Braintree or other PCI compliant gateways (through API)', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right.E-mail-Support(data-container='body', data-original-title='', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Ticketing Support
                  a.btn-plus-feature.text-right.Ticketing-Support(data-container='body', data-original-title='', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-content='Request Content updates through a dedicated Slack communication channel', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-times
                td.td-pro.text-center
                  em.fa.fa-times
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right.Custom-Domain(data-container='body', data-original-title='', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Domain Aliases
                  a.btn-plus-feature.text-right.Domain-Aliases(data-container='body', data-original-title='', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right(data-container='body', data-content='Your site has a subdomain on WebriQshops Top level domain', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Cloud Instances
                  a.btn-plus-feature.text-right(data-container='body', data-content='Sites hosted on Webfactories are served straight out of our Cloud instances and CDN nodes around the world', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center
                  em.fa.fa-check  
                td.td-pro.text-center
                  em.fa.fa-check  
                td.td-limiteless.text-center
                  em.fa.fa-check  
              tr
                td.td-feature
                  | Full SSL
                  a.btn-plus-feature.text-right(data-container='body', data-content='Dedicated SSL Certificate that works everywhere', data-original-title='', data-placement='right', data-toggle='popover', title='')
                    em.plus-icon
                      em.fa.fa-info  
                td.td-basic.text-center on demand
                td.td-pro.text-center on demand
                td.td-limiteless.text-center on demand
              tr
                td.pricing-nb  
                td.pricing-nb.text-center
                  a.text-white(href='http://app.webriq.com/auth/register', target='_blank', class='btn btn-primary btn-rounded btn-xs') Sign-up For Free
                td.pricing-nb.text-center
                  a.text-white(data-target='#myModal2', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote
                td.pricing-nb.text-center
                  a.text-white(data-target='#myModal2', data-toggle='modal', href='#', class='btn btn-primary btn-rounded btn-xs') Get A Quote

