@media only screen and (max-width:1024px)
  .resp-tabs-list.tools
    li
      width 15%
      margin 5px
      padding 5px
      span
        margin-right 0px

  body #features_security_body .container .row #modern-tech .modern-tech-show
    top -65px

  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:6%


  #featured .slider .slider-heading
    font-size: 36px

  body .heading-1
    font-size:44px

  #free-account .heading-1
    font-size:54px

  .partners .row
    margin-bottom: 25px !important

  body #features_tools #toolsTab .tab-lead-content
    background-position: center 96%


@media only screen and (max-width:980px)

  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:19%

  .resp-tabs-list.tools
    li
      width 30%
      margin 10px
      padding 0px 15px
  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -80px

  body #features_tools #toolsTab .tab-lead-content
    text-align center
    background-position: center bottom
    max-width: 730px;
    margin: 0px auto;




@media only screen and (max-width:800px)

  #features_security_body
    .container
      .left, .right
        width 100%

      .middle
        display none
      .left
        > .row
          margin-left:0px
          margin-right:0px
          width:50%
          float:left

   html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -12px

  #featured .slider .slider-heading
    font-size: 36px

  .slider-background .slider .lang
    width:280px
    left:25px

  .slider-background .slider .lang img
     padding:4px

  .slider-background .demo-buttons
    left:75px
    bottom:135px




@media only screen and (max-width:768px) and (max-width:360px)
  #featured .slider-background .slider .lang
    width:256px
    top:135px

  #featured .slider-background .slider .lang img
    padding:2px

  .slider-background  .demo-buttons
    bottom:165px




@media screen and (max-width: 768px)
  .navbar-brand>img
      width: 140px

  #svg_logo
    width: 140px
    top: -15px

  #svg_logo path
    stroke-width: 3px

  .svg-earth-pattern img.animate-earth-small
    width: 300px

  .svg-earth-pattern img.animate-earth-large
    width: 500px

  .partners .row .col-sm-6
    margin-bottom: 25px !important

  .partners .row .col-sm-6 h3
    margin-top: 0px


  #features_security_body
    .container
      .left
        width 100%
        .row
          width 50%
          float left
          margin-right 0px
          margin-left 0px
      .right
        width 100%

  .free-cms-sec
    .img-left
      .desc-desk
        display block !important
      .desc-moble
        display none !important
    .det-right
      padding 50px 0px
      .col-md-6
        .col-md-12
          text-align center
  #site-wizard-sect
    padding 40px 0px 20px !important

  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -12px


@media (min-width: 768px)
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
      margin-left: -15px



@media only screen and (max-width: 767px)
  #features_security_body .container .left,
  #features_security_body .container .right
    width 100%

  #features_tools
    h3.heading-3
      margin-top 50px
  #contact .container .row .pull-right
    float left !important
  #features_security_body .container .right
    clear both

  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top-12px
  .resp-tabs-container .resp-accordion span.tools-name
    font-size 24px
  #features_performance .container
    text-align center

  .slider-background  .slider .lang
    width: 280px
    left:30px

  .slider-background  .slider .lang img
    padding:7px

  .slider-background  .phone
    margin-top:100px

  .slider-background  .slider
    margin-bottom:50px
    padding-top: 0px
    height: auto


  .slider-background  .slider .container > div
    width:50%
    float:left






@media only screen and (max-width: 640px)
  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:10%

  .slider-background .slider .slider-heading
    font-size: 36px
    text-align:center
    margin-top: 150px

  .slider-background .slider .container > div
    float:none
    width:100%
    text-align:center

  .slider-background #phone
    right:0px
    margin:0px auto

  .slider-background .phone
    margin-top:50px


  .slider-background .phone img.drawsvg
    right:0px
    margin:0px auto

  .slider-background .slider .lang
    margin:0px auto
    right:25px

  .slider-background .demo-buttons
    right:75px
    margin:0px auto


  .slider-background .slider .lang img
    max-width: 90px


  .heading-text
    font-size: 44px
    margin-bottom: 25px

  .svg-earth-pattern img.animate-earth-small
    width: 250px

  .svg-earth-pattern img.animate-earth-large
    width: 400px


  .free-cms-sec
    .img-left
      .desc-desk
        display block !important
      .desc-moble
        display none !important
    .det-right
      padding 50px 0px
      .col-md-6
        .col-md-6
          text-align center
  #site-wizard-sect
    padding 40px 0px 20px !important

  #features_performance,
  #features_security_body
    .container
      text-align center
      .left
        .row
          float:none
          width:auto
  body #features_security_body .container .row #modern-tech .modern-tech-show
    right 5px
  #features_tools #toolsTab .tab-lead-content
    padding-bottom 40px

  body #features_tools #toolsTab .tab-lead-content
    background-position: center 96%




@media only screen and (max-width: 600px)
  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -17px

@media only screen and (max-width:480px)
  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:-10%
  body #features_tools #toolsTab .tab-lead-content
    background-position: center 92%

  .det-right .col-xs-6
    min-width 100%
    text-align center
  .contact .quicklinks li:nth-child(6) ul
    position relative
  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -90px
  .resp-tabs-container .resp-accordion span.tools-name
    font-size 15px
    font-weight 300

@media only screen and (max-width: 360px)
  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:-32%;
  body #features_tools #toolsTab .tab-lead-content
    background-position: center 84%
  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -165px

  #features_tools #toolsTab .tab-lead-content
    padding-bottom 25px
  .resp-tabs-container .resp-accordion span.tools-name
    clear both
    display block

  .resp-tabs-container .resp-accordion
    text-align center


@media only screen and (max-width: 320px)
  html body #features_tools #toolsTab .tab-lead-content .tab-lead-image
    top:-34%

  html body #features_security_body .container .row #modern-tech .modern-tech-show
    top -185px