@media (max-width:1024px) {
    .navbar-header { float: none }
    .navbar-left,
    .navbar-right { float: none !important }
    .navbar-toggle { display: block }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        overflow: hidden;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        visibility: hidden!important;
        height: 0px!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li { float: none }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.in {
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration: .35s;
        -o-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transition-property: height, visibility;
        -o-transition-property: height, visibility;
        transition-property: height, visibility;
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px }
    .navbar-nav .open .dropdown-menu > li > a { line-height: 20px }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777 }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #080808 }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #080808 }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #9d9d9d }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

@media (min-width: 1440px)
  .header-back
    &.one
      background url('../img/header_one.jpg') 50% 0 no-repeat
      background-size 100% !important
    &.two
      background url('../img/header_two.jpg') 50% 0 no-repeat
      background-size 100% !important
  #pricing
    background url('../img/pricing_background.jpg') no-repeat center
    background-size 100%
    padding-bottom 58px
    padding-top 35px


@media (max-width: 1024px)
  .carousel-caption
    .centered
      width 80% !important

  .contact .col-sm-7, .contact .col-md-6,
  .contact .footer-credits > div
    padding-left 15px !important

@media (max-width: 992px)
  .featurette-heading
    margin-top 120px
  .carousel-image
    display none

  .carousel-caption,
  .carousel-caption.blank
    top 80px

  .carousel-caption
    .centered
      width 80% !important
    h1
      font-size 28px
  .navbar
    &.navbar-scroll
      .navbar-brand
        margin-top 6px
    .navbar-brand
      border-radius 5px
      font-size 12px
      padding 0 10px
      height auto

  .navbar-default
    border-color #fff
    padding 15px 0
    .navbar-nav
      & > .active
        & > a
          &:focus
            background transparent
            color inherit
    .nav
      li
        a
          &:hover
            color #039be5
  .navbar-wrapper
    .navbar
      padding-top 0
      padding-bottom 5px
      border-bottom 1px solid #e7eaec
      border-radius 0
      padding-left 0px
      padding-right 0px
      border none
  .nav
    & > li
      & > a
        padding 25px 10px 15px 10px
  .navbar-nav
    & > li
      & > a
        padding 20px 10px
  .carousel-control
    display none


@media (min-width: 768px)
  .navbar-wrapper
    margin-top 20px
    .container
      padding-right 15px
      padding-left 15px
    .navbar
      padding-right 0
      padding-left 0
      border-radius 4px
  .carousel-caption
    p
      margin-bottom 20px
      font-size 14px
      line-height 1.4
  .featurette-heading
    font-size 50px
@media (max-width: 768px)
  .navbar-default .navbar-nav > .active > a:hover
  .navbar-default .navbar-nav > .active > a,
    color inherit

  .contact .col-lg-7,
  .contact .col-md-6
    padding-left 15px !important



