/*@media (min-width: 1440px)
  .header-back
    &.one
      background url('../img/header_one.jpg') 50% 0 no-repeat
      background-size 100% !important
    &.two
      background url('../img/header_two.jpg') 50% 0 no-repeat
      background-size 100% !important
  #pricing
    background url('../img/pricing_background.jpg') no-repeat center
    background-size 100%
    padding-bottom 58px
    padding-top 35px


@media (max-width: 1024px)
  .carousel-caption
    .centered
      width 80% !important

  .contact .col-sm-7, .contact .col-md-6,
  .contact .footer-credits > div
    padding-left 15px !important

@media (max-width: 992px)
  .featurette-heading
    margin-top 120px
  .carousel-image
    display none

  .carousel-caption,
  .carousel-caption.blank
    top 80px

  .carousel-caption
    .centered
      width 80% !important
    h1
      font-size 28px
  .navbar
    &.navbar-scroll
      .navbar-brand
        margin-top 6px
    .navbar-brand
      border-radius 5px
      font-size 12px
      padding 0 10px
      height auto

  .navbar-default
    border-color #fff
    padding 15px 0
    .navbar-nav
      & > .active
        & > a
          &:focus
            background transparent
            color inherit
    .nav
      li
        a
          &:hover
            color #039be5
  .navbar-wrapper
    .navbar
      padding-top 0
      padding-bottom 5px
      border-bottom 1px solid #e7eaec
      border-radius 0
      padding-left 0px
      padding-right 0px
      border none
  .nav
    & > li
      & > a
        padding 25px 10px 15px 10px
  .navbar-nav
    & > li
      & > a
        padding 20px 10px
  .carousel-control
    display none


@media (min-width: 768px)
  .navbar-wrapper
    margin-top 20px
    .container
      padding-right 15px
      padding-left 15px
    .navbar
      padding-right 0
      padding-left 0
      border-radius 4px
  .carousel-caption
    p
      margin-bottom 20px
      font-size 14px
      line-height 1.4
  .featurette-heading
    font-size 50px
@media (max-width: 768px)
  .navbar-default .navbar-nav > .active > a:hover
  .navbar-default .navbar-nav > .active > a,
    color inherit

  .contact .col-lg-7,
  .contact .col-md-6
    padding-left 15px !important



*/


@media only screen and (max-width:1024px){
  #featured .slider .slider-heading{
    font-size: 36px;
  }
  body .heading-1{
    font-size:44px;
  }
  #free-account .heading-1{
    font-size:54px;
  }
  .partners .row{
    margin-bottom: 25px !important;
  }
}



@media only screen and (max-width:800px){
  #featured .slider .slider-heading{
    font-size: 36px;
  }
  .slider-background .slider .lang{
    width:280px;
    left:25px;
  }
  .slider-background .slider .lang img{
     padding:4px;
  }
  .slider-background .demo-buttons{
    left:75px;
    bottom:135px;
  }

}

@media only screen and (max-width:768px) and (max-width:360px){
  #featured .slider-background .slider .lang{
    width:256px;
    top:135px;
  }
  #featured .slider-background .slider .lang img{
    padding:2px;
  }
  .slider-background  .demo-buttons{
    bottom:165px;
  }

}

@media screen and (max-width: 768px) {
  .navbar-brand>img {
      width: 140px;
  }
  #svg_logo {
    width: 140px;
    top: -15px;
  }
  #svg_logo path {
    stroke-width: 3px;
  }
  .svg-earth-pattern img.animate-earth-small {
    width: 300px;
  }
  .svg-earth-pattern img.animate-earth-large {
    width: 500px;
  }
  .partners .row .col-sm-6{
    margin-bottom: 25px !important;
  }
  .partners .row .col-sm-6 h3 {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -15px;
  }
}

@media only screen and (max-width: 767px){
  .slider-background  .slider .lang{
    width: 280px;
    left:30px;
  }
  .slider-background  .slider .lang img{
    padding:7px;
  }
  .slider-background  .phone{
    margin-top:100px;
  }
  .slider-background  .slider{
    margin-bottom:50px;
    padding-top: 0px;
    height: auto;
  }

  .slider-background  .slider .container > div{
    width:50%;
    float:left;

  }


}

@media only screen and (max-width: 640px){
  .slider-background .slider .slider-heading{
    font-size: 36px;
    text-align:center;
    margin-top: 150px;
  }
  .slider-background .slider .container > div{
    float:none;
    width:100%;
    text-align:center;
  }
  .slider-background #phone{
    right:0px;
    margin:0px auto;
  }
  .slider-background .phone{
    margin-top:50px;
  }

  .slider-background .phone img.drawsvg{
    right:0px;
    margin:0px auto;
  }
  .slider-background .slider .lang{
    margin:0px auto;
    right:25px;
  }
  .slider-background .demo-buttons{
    right:75px;
    margin:0px auto;
  }

  .slider-background .slider .lang img {
    max-width: 90px;
  }

  .heading-text {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .svg-earth-pattern img.animate-earth-small {
    width: 250px;
  }
  .svg-earth-pattern img.animate-earth-large {
    width: 400px;
  }

}

